<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
    <h3>Courses avaialable in {{ cat.name }}</h3>
    {% if course %}
        <form method="post" action="" id="voteform">
            {% csrf_token %}
            <fieldset>
                {% for c in course %}
                    <p><input type="radio" name="course" id="course" value="{{ c.id }}" /></p>
                    <label for="course{{ forloop.counter }}">{{ c.name }}</label>
                {% endfor %}
            <input type="submit" id="submit" value="Submit" />
            </fieldset>
        </form>
    {% else %}
        <p class="nocourse"> No votes are added!</p>
    {% endif %}
</body>
</html>