<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GITAM Web Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme|Handlee|Sansita" rel="stylesheet">
</head>
<body>
<div class="container" style="padding-left: 0px;padding-right: 0px;margin-left: 0px;">
    <div class="top"></div>
    <div class="header">
         <h3 class="title">Student and Staff login</h3>
        <div class="logo">
            <img src="{% static 'images/gitam-logo.jpg' %}">
        </div>
    </div>
    <div class="container">
            <div class="single-sign">
                <h3 class="text-center" style="color:#1E90FF;font-family: 'Acme', sans-serif;margin-bottom: 20px;padding-bottom: 10px;">Please sign in</h3>
                <form action="" method="post" accept-charset="utf-8" id="login">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="controls">
                           <input type="text" class="span3" name="username" id="username" required="" value="{{ username }}">
                            <label class="control-label" for="id_username" alt='Username' placeholder='Username'></label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                             <input type="password" class="span3" name="password" id="password" required="" value="{{ password }}">
                            <label class="control-label" for="id_password" alt='Password' placeholder='Password'></label>
                        </div>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary login-sign-in">SIGN IN</button>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    <div id="footer" class="footer-home"></div>
</div>
</body>
</html>